* {
    box-sizing: border-box;
}
body {
    background-image: url(wladislaw-sokolowskij-0vw4InAC-yM-unsplash.jpg);
    background-size: cover;
    font-family: sans-serif;
    margin: 0;
}
header {
    margin: 0;
    width: 100%;
    height: auto;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 10px;
}
h1 {
    margin: 0;
}

main {
    height: 1000px;  
}

#sticky-header {
    margin: 0;
    padding: 0;
    position: sticky;
    display: flex;
    top: 0;
    text-align: left;
    height: auto;
    background-image: url(luke-chesser-pJadQetzTkI-unsplash.jpg);
    background-size: cover;
}

#sticky-header li {
    margin: -16px -4px;
    display: inline-block;
    padding: 20px 5px;
    font-size: 20px;
}
.navlink {
    margin: 0px 10px;
    color: white;
    text-decoration: none;
}
#navlist li:hover {
    background-color: white;
    text-decoration: none;
}
#navlist li:hover .navlink {
    color: darkblue;
    text-decoration: none;
}
.navlink:visited {
    color: white;
}
#column {
    margin: 20px auto;
    border-radius: 10px;
    width: 80%;
    font-size: 20px;
    height: auto;
    background-color: hsl(278, 96%, 9%);
    color: rgb(255, 255, 255);
    padding: 10px;
}
